---
layout: page
title: "Minecraft: getting verified"
back:
  link: /help
  title: Help
redirect_from:
  - /verify
---

{:.lead}
New players may explore the world, but will not able to build or interact. If you would like to join us, you need to be verified. 

Verification is simple: 

1. Please read our [server rules](https://n3fs.co.uk/rules) and [guidelines](https://n3fs.co.uk/help/minecraft-guidelines).

2. Join and post in #support on our [Discord server](/discord). Include your Minecraft username, and let us know you've read and agree to the rules.  
  <small>Alternatively, you may [fill in this form](https://docs.google.com/forms/d/e/1FAIpQLSeaOYJpYY1nNLIPRtXoomH0skfAnbAGSwyCjDSePYlVQmAiEQ/viewform?usp=sf_link), but it's not recommended. It may be slower as we have to check for responses, and we cannot contact you for follow-up questions if needed.</small>

That's it! If everything looks right, one of the staff members will review your request and grant you access, usually within a few hours. 
