---
layout: page
title: "Minecraft: getting verified"
back:
  link: /help
  title: Help
---

New players are not able to build in the Survival spawn town and in Creative. If you would like to do so, you need to be verified. 

Verification is simple: 

1. Please read our [server rules](https://n3fs.co.uk/rules) and [guidelines](https://n3fs.co.uk/help/minecraft-guidelines).

2. Do either of these:  
  * Please post a message in #support on our [Discord server](/discord). Include your Minecraft username, and let us know you've read and agree to the rules. 
  * [Fill in this form](https://docs.google.com/forms/d/e/1FAIpQLSeaOYJpYY1nNLIPRtXoomH0skfAnbAGSwyCjDSePYlVQmAiEQ/viewform?usp=sf_link), which may be slower as we have to check for responses.

That's it! One of the staff members will review your request and grant you access, usually within a few hours. 